* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: monaco;
}

header {
    display: flex;
    padding: 18px 15px;
    background-color: black;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-color: white;
    z-index: 9999;
}

header h1 {
    color: black;
    align-items: center;
    font-weight: 900;
    font-size: 2.2vw;
    margin: 0;
    border-top: solid 3px gray;
}

header a {
    text-decoration: none;
    color: black;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    margin: 0 30px;
    padding-top: 7px;
    font-weight: lighter;
    font-size: 1.3vw;
    border-top: solid 1px gray;
}

.hero { 
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 125px 10px 200px 10px;
}

#art-img {
    width: 650px;
    height: 350px;
}

#projects {
    background-color: black;
    padding-bottom: 350px;
}

.section-structure {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 80px;
}

.section-title {
    text-align: center;
    font-weight: bolder;
    color: white;
    border-bottom: solid #FFD700 5px;
    margin: 0 auto 30px auto;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 20%;
}

.project-img {
    width: 250px;
    height: 150px;
    border: solid 2px #FFD700;
}

#first-project-img {
    width: 350px;
    height: 200px;
}

.project-bio, .project-title {
    text-align: center;
    color: white;
}

#bio-section-title {
    text-align: center;
    font-weight: bolder;
    color: black;
    border-bottom: solid #FFD700 5px;
    margin: 0 auto 30px auto;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 20%;
}

#bio-image-n-text {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#about-me {
    padding-bottom: 100px;
}

#bio-image {
    padding-right: 20px;
    margin: 30px 15px 100px 15px;
}

#bio-img {
    height: 350px;
    width: 350px;
    border: solid 15px #FFD700;
}

#social-structure {
    background-color: black;
}

#contact {
    background-color: black;
    padding: 0 0 250px 0;
}

#socials {
    display: flex;
    justify-content: space-evenly;
}

#twitter, #instagram {
    display: flex;
}

#instagram-img {
    margin: 100px 0 0 0px;
    width: 130px;
    height: 120px;
}

#twitter-img {
    margin: 100px -20px 0 -20px;
    width: 220px;
    height: 120px;
}

#twitter-text, #instagram-text {
    margin: 150px 0 0 0;
    padding: 0 25px 5px 25px;
    list-style: none;
    text-decoration: none;
    color: white;
    font-weight: bolder;
    border-bottom: solid 3px gold;
}

#mail-img {
    width: 200px;
    height: 125px;
    margin: 80px 10px 10px 800px;
    border-left: solid 5px gold;
}

footer h2 {
    color: black;
    font-size: 20px;
    font-weight: bolder;
    margin: 0;
}

footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background: white;
    width: 100%;
    padding: 40px 35px;
    height: 100px;
}

#reach-out-title {
    border-color: gold;
}

#about-me, #contact, #projects {
    padding-top: 85px;
}
