/* GENERAL*/

@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root {
    --primary-color: white;
    --secondary-color: black;
    --tertiary-color: #FFD700;
    --fourth-color: gray;
    --bg-black-100:#222222;
    --bg-black-50:#393939;
    --text-white-50:#ffffff;
    --bg-black-900: #151515;
    --mp-orange: #FD641A;
    --mp-yellow: #FDC61A;
    --mp--green: #37b182;
    --mp-blue: #1854b4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins' sans-serif;
    background-color: var(--bg-black-900);
    line-height: 1.5;
}

.wrapperr {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.section
{
    background: var(--bg-black-900);
    min-height: 100vh;
    display: block;
    padding: 0 30px;
    opacity: 1;
    position: fixed;
    left: 270px;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.3s ease;
}

.row
{
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    position: relative;
}

.container
{
    max-width: 1100px;
    width: 100%;
    margin: auto;
}

.section-title
{
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 60px;
}

.section-title h2
{
    font-size: 40px;
    color: var(--text-white-50);
    font-weight: 700;
    position: relative;
}

.section-title h2::before
{
    content: '';
    height: 4px;
    width: 50px;
    background-color: var(--mp-orange);
    position: absolute;
    top: 100%;
    left: 0;
}

.section-title h2::after
{
    content: '';
    height: 4px;
    width: 25px;
    background-color: var(--mp-orange);
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 8px;
}

.phone-title-contact, .phone-services-title {
    display: none;
    color: var(--text-white-50);
    font-weight: 500;
    text-align: center;
    padding-bottom: 5px;
    font-size: 30px;
}

.phone-services-title {
    border-bottom: solid 5px var(--mp--green);
}

/* GENERAL END */ 

/*  Nav Bar Section start */

header {
    width: 270px;
    background: var(--bg-black-100);
    position: fixed;
    left: 0;
    top: 0;
    padding: 30px;
    height: 100%;
    border-right: 1px solid var(--bg-black-50);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    transition: all 0.3s ease;
}


.logo {
    position: absolute;
    top: 10px;
}

#logo-img {
    width: 250px;
    height: 250px;
}

header .nav-home li a:hover {
    background: var(--mp-yellow);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
}

header .nav-portfolio li a:hover {
    background: var(--mp-orange);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
}

header .nav-services li a:hover {
    background: var(--mp--green);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
}

header .nav-contact li a:hover {
    background: var(--mp-blue);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
}


ul li i {
    margin-right: 5px;
}

.list-portfolio, .list-services, .list-contact, .list-home {
    margin-top: 10px;
}

.home-li i {
    margin-right: 10px;
}

header .nav li a {
    color: white;
    text-decoration: none;
    padding: 8px 15px;
    margin: 10px 0px;
    border-bottom: 1px solid var(--bg-black-50);
    display: block;
    font-size: 16px;
    font-weight: 600;
}

header .nav-toggler
{
    height: 40px;
    width: 45px;
    border: 1px solid var(--bg-black-50);
    cursor: pointer;
    position: fixed;
    left: 300px;
    top: 20px;
    border-radius: 5px;
    background: var(--bg-black-100);
    display: none;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

header .nav-toggler span
{
    height: 2px;
    width: 18px;
    background: var(--mp-yellow);
    display: inline-block;
    position: relative;
}

header .nav-toggler.open span
{
    background-color: transparent;
}

header .nav-toggler span::before
{
    content: '';
    height: 2px;
    width: 18px;
    background: var(--mp-yellow);
    position: absolute;
    top: -6px;
    left: 0;
}

header .nav-toggler.open span::before
{
    transform: rotate(45deg);
    top: 0;
}

header .nav-toggler span::after
{
    content: '';
    height: 2px;
    width: 18px;
    background: var(--mp-yellow);
    position: absolute;
    top: 6px;
    left: 0;
}

header .nav-toggler-services span::after, header .nav-toggler-services span::before, header .nav-toggler-services span {
    background: var(--mp--green);
}

header .nav-toggler-portfolio span::after, header .nav-toggler-portfolio span::before, header .nav-toggler-portfolio span {
    background: var(--mp-orange);
}

header .nav-toggler-contact span::after, header .nav-toggler-contact span::before, header .nav-toggler-contact span {
    background: var(--mp-blue);
}

header .nav-toggler.open span::after
{
    transform: rotate(-45deg);
    top: 0;
}

/*  Nav Bar Section end */


/* home start */

.home
{
    min-height: 100vh;
    display: flex;
    color: var(--text-white-50);
}
.home .home-info
{
    flex: 0 0 60%;
    max-width: 60%;
}
h3.hello
{
    font-size: 28px;
    margin: 15px 0;
}
h3.hello span
{
    font-size: 30px;
    font-weight: 700;
    color: var(--mp-yellow);
}
h3.my-profession
{
    font-size: 30px;
    margin: 15px 0;
}
.typing
{
    color: var(--mp-yellow);
}
.home-info p
{
    margin-bottom: 70px;
    font-size: 20px;
    color: var(--text-white-50);
}

.home-info p a
{
    text-decoration: none;
    color: var(--mp-yellow);
}

.home .home-img
{
    flex: 0 0 40%;
    max-width: 40%;
    text-align: center;
    position: relative;
}

.home .home-img img
{
    margin: auto;
    border-radius: 5px;
    height: 300px;
    border: solid 10px var(--mp-yellow);
    margin-top: 10px;
}

.btn
{
    font-size: 16px;
    font-weight: 500;
    padding: 12px 35px;
    color: var(--text-white-50);
    font-weight: 600;
    text-decoration: none;
    border-radius: 40px;
    display: inline-block;
    white-space: nowrap;
    border: none;
    background: var(--mp-yellow);
    transition: all 0.3s ease;
}

.btn:hover
{
    transform: scale(1.05);
}

/* home end */

/* portfolio start */

.section .container
{
    padding-top: 60px;
    padding-bottom: 70px;
}

.portfolio .container
{
    padding-bottom: 40px;
}

.portfolio .portfolio-heading
{
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 40px;
}

.portfolio .portfolio-heading h2
{
    color: var(--text-white-50);
    font-weight: 500;
    border-bottom: solid 5px var(--mp-orange);
    text-align: center;
    padding-bottom: 5px;
}

.portfolio .portfolio-item
{
    flex: 0 0 30%;
    max-width: 30%;
    margin-bottom: 30px;
}

.portfolio .portfolio-item-inner
{
    border: 7px solid var(--bg-black-100);
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
}

.portfolio .portfolio-item-inner .portfolio-img img
{
    width: 100%;
    display: block;
}

.proj-container .portfolio-item {
    margin: 10px 10px;
}

.proj-container {
    margin-right: 1;
}

/* portfolio end */

/* Service section start */

.section-title-services h2::before, .section-title-services h2::after
{
    background-color: var(--mp--green);
}

.service .container
{
    padding-bottom: 40px;
}
.service .service-item
{
    margin: 44px 40px 18px 15px;
    flex: 0 0 26%;
    max-width: 26%;
}
.service .service-item .service-item-inner
{
    background-color: var(--bg-black-100);
    border: 1px solid var(--bg-black-50);
    border-radius: 10px;
    padding: 30px 15px;
    text-align: center;
    transition: all 0.3S ease;
}
.service .service-item .service-item-inner:hover
{
    box-shadow:  0 0 20px rgba(48, 46, 77, 0.15);
}
.service .service-item .service-item-inner .icon 
{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: block;
    margin:  0 auto 30px;
    text-align: center;
    transition: all 0.3s ease;
}
.service .service-item .service-item-inner .icon .fa
{
    font-size: 40px;
    line-height: 60px;
    color: var(--mp--green);
    transition: all 0.3s ease;
}
.service .service-item .service-item-inner:hover .icon
{
    background: var(--mp--green);
}
.service .service-item .service-item-inner:hover .icon .fa
{
    font-size: 25px;
    color: #ffffff;
}
.service .service-item .service-item-inner h4
{
    font-size: 1vw;
    margin-bottom: 15px;
    color: var(--text-white-50);
    font-weight: 700;
    text-transform: capitalize;
}
.service .service-item .service-item-inner p
{
    font-size: .9vw;
    color: var(--text-white-50);
    line-height: 25px;
}

#design-p-mobile span{
    display: none;
}

.section-title-services {
    margin-left: 14px;
}

/* Service section end */

/* Contact section start */

.section-title-contact h2::before, .section-title-contact h2::after
{
    background-color: var(--mp-blue);
}

.btn-contact {
    background-color: var(--mp-blue);
}

.contact-title
{
    color: var(--mp-blue);
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
}

.contact-sub-title
{
    color: var(--text-white-50);
    text-align: center;
    font-size: 15px;
    margin-bottom: 60px;
}

.contact .contact-info-item
{
    flex: 0 0 25%;
    max-width: 25%;
    text-align: center;
    margin-bottom: 60px;
}

.contact .contact-info-item .icon
{
    display: inline-block;
}

.contact .contact-info-item .icon .fa
{
    font-size: 25px;
    color: var(--mp-blue);
}

.contact .contact-info-item .icon .fa-brands
{
    font-size: 28px;
    color: var(--mp-blue);
}

.contact .contact-info-item h4
{
    font-size: 18px;
    font-weight: 700;
    color: var(--text-white-50);
    text-transform: capitalize;
    margin: 15px 0 5px;
}

.contact .contact-info-item p 
{
    font-size: 16px;
    line-height: 25px;
    color: var(--text-white-50);
    font-weight: 400;
    text-decoration: none;
}

.contact .contact-info-item p a
{
    font-size: 16px;
    line-height: 25px;
    color: var(--text-white-50);
    font-weight: 400;
    text-decoration: none;
}

.contact .contact-form
{
    flex: 0 0 100%;
    max-width: 100%;
}

.contact .contact-form .col-6
{
    flex: 0 0 50%;
    max-width: 50%;
}

.contact .contact-form .col-12
{
    flex: 0 0 100%;
    max-width: 100%;
}

.contact .contact-form .form-item
{
    margin-bottom: 30px;
}

.contact .contact-form .form-item .form-control
{
    width: 100%;
    height: 50px;
    border-radius: 25px;
    background: var(--bg-black-100);
    border: 1px solid var(--mp-blue);
    padding: 10px 25px;
    font-size: 16px;
    color: var(--text-white-50);
    transition: all 0.3s ease;
}

.contact .contact-form .form-item .form-control-less
{
    width: 95%;
}

.contact .contact-form .form-item .form-email {
    margin-left: 24px;
}

.contact .contact-form .form-item .form-control:focus
{
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}

.contact .contact-form .form-item textarea.form-control
{
    height: 140px;
}

.contact .contact-form .btn
{
    height: 50px;
    padding: 0 50px;
}

.btn-contact-contact
{
    font-size: 16px;
    padding: 5px 15px;
    color: var(--text-white-50);
    font-weight: 700;
    text-decoration: none;
    border-radius: 40px;
    display: inline-block;
    white-space: nowrap;
    border: none;
    background: var(--mp-blue);
    transition: all 0.3s ease;
}

.btn-contact-contact:hover
{
    transform: scale(1.05);
}

.section-title-contact {
    margin-left: 14px;
}

/* Contact section end */

@media (max-width:1199px)
{
    .section .container
    {
        padding-top: 70px;
    }
    header
    {
        left: -270px;
    }
    header.open 
    {
        left: 0;
    }
    header .nav-toggler
    {
        display: flex;
        left: 30px;
    }
    header .nav-toggler.open 
    {
        left: 300px;
    }
    .section
    {
        left: 0;
    }
    .section.open 
    {
        left: 270px;
    }
    .service-item-inner {
        height: 100%;
    }
}
@media (max-width:991px)
{
    .contact .contact-info-item,
    .portfolio .portfolio-item
    {
        flex: 0 0 45%;
        max-width: 45%;
    }
    .service .service-item
    {
        flex: 0 0 39%;
        max-width: 39%;
    }
    #blockchain-title-mobile span {
        display: none;
    }
    #design-p-mobile span{
        display: block;
    }
    .home .home-info
    {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .btn-hire {
        font-size: 3vw;
    }
    .container-home {
        position: relative;
    }
    .home-img-pos {
        position: absolute;
        bottom: 320px;
        right: 10px;
    }
    .home-img img {
        width: 325px;
    }
    .home-info-pos {
        position: absolute;
    }    
    .home-info-pos h3 {
        font-size: 6vw;
    }   
    .home-info-pos h3 span {
        font-size: 6vw;
    }  
    .home-info-pos p {
        font-size: 3.5vw;
    }  
    .port-heading {
        position: absolute;
        bottom: 40px;
    }
    .portfolio-item-extra {
        display: none;
    }
    .proj-container {
        position: absolute;
        top: 200px;
    }
    .section-title-contact {
        position: absolute;
        bottom: 210px;
    }
    .container-contact {
        position: absolute;
        top: 350px;
    }
    .contact-title, .contact-sub-title {
        position: relative;
        right: 30px;
    }
    .row.services-all {
        bottom: -280px;
        left: 60px;
    }
    .service .service-item .service-item-inner p
    {
    font-size: 24px;
    }
    .service .service-item .service-item-inner h4
    {
    font-size: 30px;
    }
    .phone-services-title {
        display: block;
        position: absolute;
        left: 330px;
        top: 300px;
        width: 300px;
    }
    .phone-services-title.opened {
        display: none;
    }
    .service.section {
        position: relative;
    }
}
@media (max-width:767px)
{
    .contact .contact-form .col-6,
    .contact .contact-info-item,
    .portfolio .portfolio-item,
    .service .service-item
    {
        flex: 0 0 100%;
        max-width: 100%;
    }
}
